<template>
	<div class="best_sellers" style="margin-bottom: 20px;">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>Featured Items</h2>
					</div>
				</div>
			</div>
			<div class="post-content-area mb-50">
				<slick-slider :items="items"></slick-slider>
		    </div>
		</div>
	</div>
</template>
<script>
	import slickSlider from './nearby/slick-slider.vue';
	export default{
		components:{
			slickSlider
		},
		data(){
			return {
				items: [],
				position: {},
			}
		},

		mounted (){
		    this.init()
		},

		methods: {
			init(){
				let url = '/data/feature-ad'
				axios.get(url).then((res)=>{
					this.items = res.data.features;
					this.loading = false;
				})
			}
		}

	}
</script>