<template>
	<div>
		<header class="header trans_300">
			<!-- Top Navigation -->
			<div class="top_nav">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="top_nav_left">free shipping on all u.s orders over $50</div>
						</div>
						<div class="col-md-6 text-right">
							<div class="top_nav_right">
								<ul class="top_nav_menu">
									<li class="language">
										<a href="javascript:void(0)">
											Language<i class="fa fa-angle-down"></i>
										</a>
										<ul class="language_selection">
											<li><a href="#">English</a></li>
										</ul>
									</li>
									<li class="account">
										<a href="javascript:void(0)">
											My Account
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="account_selection">
											<li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
											<li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Navigation -->
			<div class="main_nav_container">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-right">
							<div class="logo_container">
								<a href="/">Weekend<span>Tootle</span></a>
							</div>
							<nav class="navbar">
								<ul class="navbar_menu top_nav_menu">
									<li v-for="menu in menus" :key="menu.id" :class="menu.haschildren ? 'child-dropdown': ''">
										<router-link :to="menu.route" v-if="!menu.haschildren">
											{{menu.name}}
										</router-link>
										<a v-else>
											{{menu.name}}
											<i class="fa fa-angle-down" v-if="menu.haschildren>0"></i>
										</a>
										<ul class="child-dropdown-selection" v-if="menu.haschildren>0">
											<li v-for="child in menu.children">
												<a :href="child.route">{{child.name}}</a>
											</li>

										</ul>
									</li>
								</ul>
								<ul class="navbar_user">
									<li class="checkout">
										<a href="#">
											<i class="fa fa-shopping-cart" aria-hidden="true"></i>
											<span id="checkout_items" class="checkout_items">2</span>
										</a>
									</li>
								</ul>
								<div class="hamburger_container" @click="initMenu">
									<i class="fa fa-bars" aria-hidden="true"></i>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
		<mobile-menu v-if="openMenu" :menus="menus" :user="user" v-on:afterCloseMenu="afterCloseMenu"></mobile-menu>
	</div>
</template>
<script>
	import mobileMenu from '../../commons/mobileMenu'
	export default{
		components:{
			mobileMenu
		},
		data(){
			return {
				openMenu: false,
				menus: [],
				user: {}
			}
		},
		mounted(){
			this.getMenus();
		},
		methods: {
			initMenu(){
				this.openMenu = true;
			},
			getMenus(){
				let menus = [{
					id:1,
					name: 'Home',
					route: '/'
				},
				{
					id:2,
					name: 'Nearby',
					route: '/near-by-ad'
				},
				{
					id: 3,
					name: 'browse',
					haschildren: true,
					children: [{
						id: 1,
						name: 'Event',
						route: '/ads/page/event/list'
					},
					{
						id: 2,
						name: 'Restaurant',
						route: '/ads/page/restaurant/list'
					},
					{
						id: 3,
						name: 'Hotel',
						route: '/ads/page/hotel/list'
					}]
				},
				{
					id:4,
					name: 'Blog',
					route: 'blog'
				},
				{
					id:5,
					name: 'About Us',
					route: 'about-us'
				},
				{
					id:6,
					name: 'Contact Us',
					route: 'contact-us'
				}]
				this.menus = menus
			},
			afterCloseMenu(status){
				this.openMenu = status;
			}
		},
		
	}
</script>
<style scoped>
	.navbar {
	    z-index: 0 !important;
	}
</style>