<template>
	<div class="super_container">
		<app-header></app-header>
		<app-slider></app-slider>
		<app-nearby></app-nearby>
		<app-feature></app-feature>
		<app-most-view></app-most-view>
		<app-blog></app-blog>
		<app-newsletter></app-newsletter>
		<app-footer></app-footer>
	</div>
</template>
<script>
	import AppHeader from './header';
	import AppSlider from './slider';
	import AppNearby from './nearby';
	import AppFeature from './feature';
	import AppMostView from './mostview';
	import AppBlog from './blog';
	import AppNewsletter from './newsletter';
	import AppFooter from './footer';
	export default {
		components:{
			AppHeader, AppSlider, AppFooter, AppNearby, AppNewsletter, AppBlog, AppFeature, AppMostView
		}
	}
</script>