<template>
	<div class="best_sellers" style="margin-bottom: 10px;">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>Most Views</h2>
					</div>
				</div>
			</div>
			<div class="post-content-area mb-50">
				<slick-slider :options="slickOptions" :items="items"></slick-slider>
		    </div>
		</div>
	</div>
</template>
<script>
	import slickSlider from './nearby/slick-slider.vue';
	export default{
		components:{
			slickSlider
		},
		data(){
			return {
				items: [],
				position: {},
				slickOptions: {
                    //options can be used from the plugin documentation
                    //slidesToShow: 4,
                    // infinite: true,
                    // accessibility: true,
                    // adaptiveHeight: false,
                    arrows: true,
                    //autoplay: true,
                    autoplaySpeed: 4000,
                    //dots: true,
                    draggable: true,
                    // edgeFriction: 0.30,
                    swipe: true,
                    slidesPerRow: 4,
                    setPosition: 0,
                    //rows: 2,
                    responsive: [
                        {
                          breakpoint: 1024,
                          settings: {
                            slidesPerRow: 4,
                            rows: 1,
                            dots: false
                          }
                        },
                        {
                          breakpoint: 768,
                          settings: {
                            slidesPerRow: 2,
                            rows: 1,
                          }
                        },
                        {
                          breakpoint: 480,
                          settings: {
                            slidesPerRow: 1,
                            rows: 1,
                          }
                        }
                        // You can unslick at a given breakpoint now by adding:
                        // settings: "unslick"
                        // instead of a settings object
                    ]
				},
			}
		},

		mounted (){
			if(navigator.geolocation) {
				var self = this;
		       	navigator.geolocation.getCurrentPosition(function(position){
		        	self.position.latitude =position.coords.latitude;
		        	self.position.longitude =position.coords.longitude;
		        	console.log(self.position);
		        	self.init()
		      	})
		    }
		},

		methods: {
			init(){
				let url = '/data/near-by-ad'
				axios.post(url,this.position).then((res)=>{
					this.items = res.data.data['event'];
					console.log(this.items);
					this.loading = false;
				})
			}
		}

	}
</script>