<template>
	<div class="new_arrivals" v-loading="loading">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h6>Nearby</h6>
					</div>
				</div>
			</div>
			<div class="post-content-area mb-50">
				<b-tabs position="is-centered" class="block" v-model="activeTab">
		            <b-tab-item :label="ucCapital(index)" v-for="(items, index, i) in nearbyData" :key="i">
	        			<slick-slider :items="items"></slick-slider>
		            </b-tab-item>
		        </b-tabs>
		    </div>
		</div>	
	</div>
</template>
<script>
	import slickSlider from './nearby/slick-slider.vue';
	export default{
		components:{
			slickSlider
		},
		data(){
			return {
				activeTab: 0,
				position: {},
				loading: true,
				nearbyData: {},
			}
		},
		mounted(){
			if(navigator.geolocation) {
				var self = this;
		       	navigator.geolocation.getCurrentPosition(function(position){
		        	self.position.latitude =position.coords.latitude;
		        	self.position.longitude =position.coords.longitude;
		        	console.log(self.position);
		        	self.init()
		      	})
		    }
		},
		
		methods: {
			init(){
				let url = '/data/near-by-ad'
				axios.post(url,this.position).then((res)=>{
					this.nearbyData = res.data.data;
					this.loading = false;
				})
			},
			ucCapital(label){
				return label.charAt(0).toUpperCase() + label.slice(1)
			}
		}
	}
</script>
