<template>
	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
						<p><strong>Newsletter</strong> Subscribe to our newsletter and get free notification.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<form @submit.prevent="handleSubscription">
						<div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
							<input id="newsletter_email" type="email" v-model="subscription.email" placeholder="Your email" required="required" data-error="Valid email is required.">
							<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				subscription : {
					email: null
				}
			}
		},
		methods: {
			handleSubscription(){
				console.log(this.subscription);
			}
		}
	}
</script>