.global-page-header {
    background-attachment: fixed;
    background-size: cover;
    padding: 200px 0 25px 0;
    position: relative;
    background: #02bdd5;
    color: #fff;
    height: 450px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.global-page-header .block {
    position: relative;
    /*z-index: 99;*/
    text-align: center;
}
.global-page-header .breadcrumb {
    background: none;
    font-size: 16px;
    padding: 8px 0;
    display: inline-block;
}
.global-page-header .breadcrumb .active, .global-page-header .breadcrumb li a {
    color: #fff;
    display: inline-block;
}
.global-page-header h2 {
    font-size: 42px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.breadcrumb .desc {
    /*background: #4311112e;*/
    font-size: 14px;
    /*border-left: 2px solid #f00;*/
    padding-left: 8px;
    margin-bottom: 6px;
    color: #fff;
    padding-right: 12px;
    white-space: normal
}
.hero-area {
    position: relative;
    z-index: 1;
}
.background-overlay {
    position: relative;
    z-index: 2;
}
.height-600 {
    height: 600px !important;
}
.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-padding-100 {
    padding: 30px 0;
}
.mb-100 {
    margin-bottom: 100px;
}
.mt-70 {
    margin-top: 70px;
}

.world-latest-articles .title {
  margin-top: 50px;
  margin-bottom: 30px; }
  .world-latest-articles .title h5 {
    display: block;
    font-size: 18px;
    color: #000000;
    margin-bottom: 0;
    margin-right: auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 2px solid #f1f1f1; }

.post-sidebar-area {
  border-left: 2px solid #f1f1f1; }

.sidebar-widget-area {
  position: relative;
  z-index: 1;
  border-bottom: 2px solid #f1f1f1; }
  .sidebar-widget-area .title {
    display: block;
    font-size: 18px;
    color: #000000;
    margin-bottom: 0;
    margin-right: auto;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 12px 0;
    border-bottom: 2px solid #f1f1f1;
    padding-left: 30px; }
  .sidebar-widget-area .widget-content {
    padding: 30px 0 30px 30px; }
    @media only screen and (max-width: 767px) {
      .sidebar-widget-area .widget-content {
        padding: 30px 0 30px 15px; } }
    .sidebar-widget-area .widget-content .social-area a {
      width: 36px;
      height: 36px;
      border: 1px solid;
      border-color: #f1f1f1;
      display: block;
      border-radius: 50%;
      text-align: center;
      line-height: 32px; }
    .sidebar-widget-area .widget-content .todays-pick {
      box-shadow: none; }
  .sidebar-widget-area:last-of-type {
    border-bottom: none; }

.page-content {
  padding: 60px 55px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 767px) {
    .page-content {
      padding: 30px 25px; } }
  .page-content h6 {
    color: #8d8d8d;
    line-height: 1.8;
    margin-bottom: 20px; }
    .page-content h6:last-of-type {
      margin-bottom: 0; }

.single-blog-title .post-cta {
  margin-bottom: 40px; }
  .single-blog-title .post-cta a {
    padding: 0 10px;
    display: inline-block;
    height: 20px;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    color: #0000ff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.75px; }
    .single-blog-title .post-cta a:hover, .single-blog-title .post-cta a:focus {
      background-color: #0000ff;
      color: #ffffff; }
.single-blog-title h3 {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 30px; }
  @media only screen and (max-width: 767px) {
    .single-blog-title h3 {
      font-size: 24px; } }

.single-blog-content .post-meta {
  border-bottom: 2px solid;
  border-color: #f1f1f1;
  margin-bottom: 30px; }
  .single-blog-content .post-meta p {
    margin-bottom: 0;
    font-size: 14px;
    padding: 10px 0; }
    .single-blog-content .post-meta p a {
      font-size: 14px; }
  .single-blog-content .post-meta.second-part {
    border-bottom: none;
    border-top: 2px solid;
    border-color: #f1f1f1;
    margin-bottom: 0;
    margin-top: 30px; }
.single-blog-content .post-content {
  padding: 60px 55px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 767px) {
    .single-blog-content .post-content {
      padding: 30px 25px; } }
  .single-blog-content .post-content h6 {
    line-height: 1.8;
    margin-bottom: 30px;
    color: #8d8d8d;
    font-family: "Ubuntu", sans-serif; }
  .single-blog-content .post-content blockquote {
    border-left: 2px solid;
    border-color: #0000ff;
    padding-left: 30px; }
    .single-blog-content .post-content blockquote h6 {
      margin-bottom: 10px;
      color: #000000; }
    .single-blog-content .post-content blockquote p {
      margin-bottom: 0; }
  .single-blog-content .post-content .post-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .single-blog-content .post-content .post-tags a {
      display: block;
      padding: 0 15px;
      line-height: 28px;
      height: 30px;
      border: 1px solid;
      border-color: #f1f1f1;
      margin: 5px; }

.comment_area .comment-content {
  padding: 30px 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 767px) {
    .comment_area .comment-content {
      padding: 20px 15px; } }
  .comment_area .comment-content .comment-meta {
    margin-bottom: 30px; }
    .comment_area .comment-content .comment-meta p {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 110px);
      flex: 0 0 calc(100% - 110px);
      border-bottom: 2px solid;
      border-color: #f1f1f1;
      margin-bottom: 0;
      font-size: 14px;
      padding: 10px 0; }
      .comment_area .comment-content .comment-meta p a {
        font-size: 14px; }
.comment_area .single_comment_area {
  margin-bottom: 30px; }
  .comment_area .single_comment_area:last-of-type {
    margin-bottom: 0; }
.comment_area .children .single_comment_area {
  margin-left: 50px;
  margin-top: 30px; }
  @media only screen and (max-width: 767px) {
    .comment_area .children .single_comment_area {
      margin-left: 15px; } }

/* Contact Area CSS */
.contact-form,
.post-a-comment-area {
  padding: 60px 55px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 767px) {
    .contact-form,
    .post-a-comment-area {
      padding: 30px 25px; } }
  .contact-form h5,
  .post-a-comment-area h5 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    margin-bottom: 30px; }
  .contact-form button.world-btn,
  .post-a-comment-area button.world-btn {
    border-color: #0000ff;
    background-color: #0000ff;
    color: #ffffff;
    margin-top: 40px; }
    ul li, ol li {
        list-style: none;
    }
/* Form CSS */
.group {
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  .group input,
  .group textarea {
    font-size: 14px;
    padding: 10px;
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid;
    border-color: #f1f1f1; }
    .group input:focus,
    .group textarea:focus {
      outline: none;
      box-shadow: none; }
  .group label {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 5px;
    transition: 0.5s ease all;
    font-family: "Ubuntu", sans-serif; }
  .group .bar {
    position: relative;
    display: block;
    width: 100%; }
    .group .bar:before, .group .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background-color: #0000ff;
      transition: 0.5s ease all; }
    .group .bar:before {
      left: 50%; }
    .group .bar:after {
      right: 50%; }
  .group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .group textarea {
    min-height: 90px; }

/* Form Active State */
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
  top: -15px;
  font-size: 12px;
  color: #0000ff; }

input:focus ~ .bar:before,
textarea:focus ~ .bar:before,
input:focus ~ .bar:after,
textarea:focus ~ .bar:after {
  width: 50%; }

input:focus ~ .highlight,
textarea:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease; }

/* Animations */
@-webkit-keyframes inputHighlighter {
  from {
    background-color: #0000ff; }
  to {
    width: 0;
    background-color: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background-color: #0000ff; }
  to {
    width: 0;
    background-color: transparent; } }
@keyframes inputHighlighter {
  from {
    background-color: #0000ff; }
  to {
    width: 0;
    background-color: transparent; } }
.map-area {
  position: relative;
  z-index: 1; }
  .map-area #googleMap {
    width: 100%;
    height: 500px; }
    @media only screen and (max-width: 767px) {
      .map-area #googleMap {
        height: 400px; } }
.single-blog-post.post-style-2.widget-post .post-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    min-width: 70px;
    margin-right: 15px;
}
.single-blog-post.post-style-2 .post-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 97px;
    flex: 0 0 97px;
    min-width: 97px;
    margin-right: 15px;
}
.single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1;
}
.single-blog-post.widget-post .post-thumbnail img {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    border-radius: 3px;
    background: #D8D8D8;
    display: block;
    height: 80px;
    margin-bottom: 8px;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}
@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.widget {
    margin: 32px 0;
    border: 1px solid #EBEDED;
    border-radius: 4px;
    background: #fff;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.mt-0, .my-0 {
    margin-top: 0!important;
}

.widget.sm .header {
    padding: 16px 16px;
}

.widget .header {
    padding: 16px 32px;
}
.pb-0, .py-0 {
    padding-bottom: 0!important;
}
.widget.sm .body {
    padding: 16px 16px;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.hotel-list-card:nth-child(1) {
    margin-top: 0;
}

.hotel-list-card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.hotel-list-card {
    background: #fff;
    margin: 24px 0;
    border: 1px solid #EBEDED;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: all ease 250ms;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.hotel-list-card .hotle-cover-img-box {
    position: relative;
    width: 100%;
    height: 100%;
}
.hotel-list-card .hotle-cover-img-box .wish-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}
.hotel-list-card .hotle-cover-img-box .hotel-cover-img {
    width: 100%;
    height: 100%;
    min-height: 187px;
    margin: 0;
    object-fit: cover;
    object-position: center;
    padding: 0;
}
.p-3 {
    padding: 1rem!important;
}
.hotel-list-card .hotel-location {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #888;
    margin: 8px 0;
}
.hotel-list-card .hotel-description {
    font-size: 12px;
    margin: 8px 0;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}
.row.gutters-2 > [class^="col-"], .row.gutters-2 > [class*=" col-"] {
    padding-right: 2px;
    padding-left: 2px;
}
.img-square {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    background: #f00;
}
.img-square img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
.hotel-list-card .hotle-cover-img-box .wish-btn i {
    pointer-events: none;
    font-size: 25px;
    opacity: .6;
    color: #000;
    text-shadow: 0 2px #fff, 2px 0 #fff, -2px 0 #fff, 0 -2px #fff;
}
span.review-star-rate {
	display: inline-block
}
span.rate{
	display: inline-block
}