<template>
	<div>
		<div class="fs_menu_overlay"></div>
		<div class="hamburger_menu">
			<div class="hamburger_close" @click="handleMenuClose"><i class="fa fa-times" aria-hidden="true"></i></div>
			<div class="hamburger_menu_content text-right">
				<ul class="menu_top_nav">
					<li class="menu_item has-children">
						<a href="#">
							Language
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="menu_selection">
							<li><a href="#">English</a></li>
						</ul>
					</li>
					<li class="menu_item has-children">
						<a href="#">
							My Account
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="menu_selection">
							<li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
							<li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
						</ul>
					</li>
					<li :class="menu.haschildren ? 'menu_item has-children' : 'menu_item'" v-for="menu in menus">
						<a href="javscript:void(0)">
							{{menu.name}}
							<i class="fa fa-angle-down" v-if="menu.haschildren"></i>
						</a>
						<ul class="menu_selection" v-if="menu.haschildren">
							<li v-for="child in  menu.children">
								<a href="javscript:void(0)">{{child.name}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>
<script>
	export default{
		props:{
			menus: Array,
			user: Object
		},
		data(){
			return {
				menuActive: false,
			}
		},
		mounted(){
			this.setHeader();
			this.initMenu();
			// console.log(this.menus, this.user);
		},
		methods:{
			setHeader(){
				let header = $('.header');
				if(window.innerWidth < 992){
					if($(window).scrollTop() > 100){
						header.css({'top':"0"});
					}
					else{
						header.css({'top':"0"});
					}
				}
				else{
					if($(window).scrollTop() > 100){
						header.css({'top':"-50px"});
					}
					else{
						header.css({'top':"0"});
					}
				}
				if(window.innerWidth > 991 && this.menuActive){
					this.closeMenu();
				}
			},
			initMenu(){
				let hamburger= $('.hamburger_container');
				if(hamburger.length){
					if(!this.menuActive){
						this.openMenu();
					}
				}
				if($('.menu_item').length){
					let items = document.getElementsByClassName('menu_item');
					let i;
					for(i = 0; i < items.length; i++){
						if(items[i].classList.contains("has-children")){
							items[i].onclick = function(){
								this.classList.toggle("active");
								var panel = this.children[1];
							    if(panel.style.maxHeight){
							    	panel.style.maxHeight = null;
							    }
							    else{
							    	panel.style.maxHeight = panel.scrollHeight + "px";
							    }
							}
						}	
					}
				}
			},
			handleMenuClose(){
				let hamburgerClose= $('.hamburger_close');
				let fsOverlay = $('.fs_menu_overlay');
				if(fsOverlay.length){
					if(this.menuActive){
						this.closeMenu();
					}
				}
			},
			openMenu(){
				let menu = $('.hamburger_menu');
				let fsOverlay = $('.fs_menu_overlay');
				menu.addClass('active');
				fsOverlay.css('pointer-events', "auto");
				this.menuActive = true;
			},
			closeMenu(){
				let menu = $('.hamburger_menu');
				let fsOverlay = $('.fs_menu_overlay');
				menu.removeClass('active');
				fsOverlay.css('pointer-events', "none");
				this.menuActive = false;
				this.$emit('afterCloseMenu', false);
			}
		}
	}
</script>