<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
        <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="/assets/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="/assets/styles/responsive.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.1/slick-theme.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css">
        <style>
            .mb-50 {
                margin-top: 50px;
            }
            .single-blog-post {
                position: relative;
                z-index: 1;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                margin-bottom: 5px;
            }
            .single-blog-post .post-thumbnail {
                position: relative;
                z-index: 1;
            }
            .single-blog-post .post-thumbnail .post-cta {
                position: absolute;
                top: 15px;
                left: 30px;
                z-index: 10;
            }
            .post-thumbnail img {
                box-shadow: 0 8px 8px rgba(0, 0, 0, 0.06);
                overflow: hidden;
                border-radius: 3px;
                background: #D8D8D8;
                display: block;
                height: 200px;
                margin-bottom: 8px;
            }
            .single-blog-post .post-content {
                padding: 20px 30px;
            }
            .single-blog-post .post-thumbnail img {
                width: 100%;
            }
            .single-blog-post .post-content .headline h5 {
                font-size: 18px;
                margin-bottom: 10px;
            }
            .single-blog-post .post-content p {
                margin-bottom: 20px;
            }
            .single-blog-post .post-content .post-meta p a {
                font-size: 12px;
            }
            .item {
                padding: 10px;
            }
            .slick-next {
                right: 0px;
                background: red;
                z-index: 1;
            }
            .slick-prev{
                left: 0;
                z-index:1;
                background: red;
            }
            .items .slick-prev{
                padding-left: 0px;
                background: red;
            }
            .items .slick-next{
                right: 7px;
                background: red;
            }
            .single-blog-post .post-thumbnail .post-cta {
                position: absolute;
                top: 15px;
                left: 30px;
                z-index: 10;
                border-radius: 4px;
                border: 1px solid #fff;
                background: #fff;
            }
            .post-cta a {
                color: #000;
                padding: 10px;
            }
            .single-blog-post .post-content {
                padding: 10px 10px;
            }
            .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom){
                top: 40% !important;
                width: 100%;
                padding: 10px;
                text-align: left !important;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
