<template>
	<vueper-slides v-loading="loading" class="no-shadow" :visible-slides="1" slide-multiple :slide-ratio="1/4" :breakpoints="{ 1200: { visibleSlides: 1 },900:{visibleSlides: 1}, 600:{visibleSlides: 1} }" :bullets="false" fixed-height="555px" :pauseOnHover="true" :dragging-distance="50">
		<vueper-slide class="main_slider" v-if="sliders.length>0" v-for="slider in sliders" :key="slider.id" :style="{ backgroundImage: 'url(' +getSliderImage(slider)+ ')' }">
			<div slot="slideContent">
				<div class="container fill_height">
					<div class="row align-items-center fill_height">
						<div class="col">
							<div class="main_slider_content">
								<b-tooltip :label="slider.post.post_title" multilined position="is-right">
									<h6>{{limitTo(slider.post.post_title, 30)}}</h6>
								</b-tooltip>
								<p>Address: {{slider.post.address}}</p>
								<b-tooltip :label="slider.post.post_excerpt" multilined position="is-right" size="is-large">
									<p>{{limitTo(slider.post.post_excerpt, 100)}}</p>
								</b-tooltip>
								<div class="metas">
									<span>City: {{slider.post.city}}</span>, 
									<span>Nearby: {{slider.post.vicinity}}</span>, 
									<span>Phone: {{slider.post.phone}}</span>
								</div>
								<div class="metas" v-if="slider.post.post_type=='event'">
									<span>Start Date: {{slider.post.start_date}}</span>, 
									<span>End Date: {{slider.post.end_date}}</span>, 
								</div>
								<div class="red_button shop_now_button"><router-link :to="redirectTo(slider['post'])">More</router-link></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</vueper-slide>
	</vueper-slides>
</template>
<script>
	import { VueperSlides, VueperSlide } from 'vueperslides'

	// Since v. 1.6.0, you need to include Vueper Slides CSS file for default styles.
	import 'vueperslides/dist/vueperslides.css';
	export default{
		components:{
			VueperSlides, VueperSlide
		},
		data(){
			return {
				loading: false,
				sliders: []
			}
		},
		mounted(){
			this.init()			
		},
		methods: {
			init(){
				let url = '/data/slider-ad';
				this.loading = true;
				axios.get(url).then((res)=>{
					this.sliders = res.data.sliders;
					this.loading = false
				})
			},
			redirectTo(item){
				if(item.post_type=='event'){
					return `/event/${item.slug}/detail`;
				}
				else{
					return `/${item.post_type}/${item.slug}/list`;
				}
			},

            getSliderImage(slider){
            	return slider.post.feature_image ? slider.post.postfile.save_name: '';
            },
        	limitTo: function(value,limit) {
        		return (value ? (value.length > limit ? value.substring(0, limit) + '....' : value) : '');
            }
		}
	}
</script>
<style scoped>
	.main_slider_content{
		width: 60%;
	    z-index: 100;
	    background: #fff;
	    padding: 25px;
	    margin-top: 10%;
	    opacity: 0.7;
	}
	.main_slider_content h6{
		margin-bottom: 16px;
		color: #000;
	}
	.shop_now_button {
	    margin-top: 16px;
	}
	.main_slider_content p {
		color: #000;
		border-left: 2px solid #f00;
	    padding-left: 5px;
	    margin-bottom: 10px;
	}
	.metas{
		margin-bottom: 10px;
	}
	.metas span{
		font-style: inherit;
	    font-weight: inherit;
	    background: #4d4d4f;
	    padding: 2px;
	    color: #fff;
	    border-left: 2px solid #f00;
	    border-radius: 2px;
	}

</style>