<template>
	<main>
		<section v-loading="loading" class="global-page-header" :style="{ backgroundImage: 'url(' +getFeatureImage()+ ')' }">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>{{profile.post_title}}</h2>
                            <ol class="breadcrumb">
                                <p class="desc"> {{profile.post_excerpt}}</p>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<div class="section md" v-loading="loading">
	        <div class="container">
	            <div class="row">
	                <div class="col-12 col-lg-8">
	                    <div class="row" v-if="items.length > 0">
	                        <div class="col-12" v-for="(item, index) in items" :key="index">
	                            <div class="hotel-list-card">
	                                <div class="row no-gutters">
	                                    <div class="col-lg-3 col-md-12 col-sm-12">
	                                        <div class="hotle-cover-img-box">
	                                            <div class="wish-btn">
	                                                <i class="fa fa-heart"></i>
	                                            </div>
	                                            <img :src="getFeatureImg(item)" alt="img alt" class="hotel-cover-img">
	                                        </div>
	                                    </div>
	                                    <div class="col-lg-9 col-md-12 col-sm-12">
	                                        <div class="p-3">
	                                            <div class="row">
	                                                <div class="col-lg-8 col-md-8 col-sm-12 ">
	                                                    <div class="h5 hotel-name">{{item.room_no}}</div>
	                                                    <div class="hotel-location">
	                                                        <i class="flaticon-map-marker mr-1 x-small-icon"></i> Los Angeles, 0.4 km to City centre
	                                                    </div>
	                                                    <div class="hotel-description">
	                                                        Located in the heart of the downtown business district, the 877-room, L.A. Hotel ...
	                                                        <a href="#">Read more</a>
	                                                    </div>
	                                                </div>
	                                                <div class="col-lg-4 col-md-4 col-sm-12 d-inline-flex justify-content-center align-items-center mt-3 mt-lg-0 mt-md-0">
	                                                    <div>
	                                                        <div class="small mb-2">
	                                                            <span class="h3">$452</span>
	                                                            <div>per night</div>
	                                                        </div>
	                                                        <div class="hotel-review-rate">
	                                                            <span class="review-star-rate ">
																	<el-rate 
																		v-model="item['rating']" @change="handleRating(item)"
																	    :colors="colors">
																	  </el-rate>
	            												</span>
	                                                        </div>
	                                                        <div class="small text-center text-capitalize mt-1">
	                                                            good (3258)
	                                                        </div>
	                                                    </div>

	                                                </div>
	                                            </div>
	                                            <div class="row">
	                                                <div class="col-lg-8 col-md-8 col-sm-12" style="margin-left: 12px;">
	                                                	<vueper-slides class="no-shadow" :visible-slides="3" slide-multiple :slide-ratio="1/4" :breakpoints="{ 1200: { visibleSlides: 3 },900:{visibleSlides: 3}, 600:{visibleSlides: 1} }" :bullets="false" :dragging-distance="0" :pauseOnHover="true">
	                                                		<vueper-slide v-for="(file, i) in item.files"
	                                                		>
	                                                			<div slot="slideContent">
	                                                				<div class="img-square">
	                                                				    <img :src="file.save_name" alt="image alt">
	                                                				</div>
	                                                			</div>
	                                                		</vueper-slide>
	                                                	</vueper-slides>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row" v-else>
	                        <div class="col-12">
	                        	<b-message type="is-danger">
                    	            No data found!
                    	        </b-message>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-md-8 col-lg-4">
	                    <div class="post-sidebar-area mb-100">
	                        <!-- Widget Area -->
	                        <div class="sidebar-widget-area">
	                            <h5 class="title">About World</h5>
	                            <div class="widget-content">
	                                <p>The mango is perfect in that it is always yellow and if it’s not, I don’t want to hear about it. The mango’s only flaw, and it’s a minor one, is the effort it sometimes takes to undress the mango, carve it up in a way that makes sense, and find its way to the mouth.</p>
	                            </div>
	                        </div>
	                        <!-- Widget Area -->
	                        <div class="sidebar-widget-area">
	                            <h5 class="title">Top Stories</h5>
	                            <div class="widget-content">
	                                <!-- Single Blog Post -->
	                                <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
	                                    <!-- Post Thumbnail -->
	                                    <div class="post-thumbnail">
	                                        <img src="/assets/images/b11.jpg" alt="">
	                                    </div>
	                                    <!-- Post Content -->
	                                    <div class="post-content">
	                                        <a href="#" class="headline">
	                                            <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
	                                        </a>
	                                    </div>
	                                </div>
	                                <!-- Single Blog Post -->
	                                <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
	                                    <!-- Post Thumbnail -->
	                                    <div class="post-thumbnail">
	                                        <img src="img/blog-img/b13.jpg" alt="">
	                                    </div>
	                                    <!-- Post Content -->
	                                    <div class="post-content">
	                                        <a href="#" class="headline">
	                                            <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
	                                        </a>
	                                    </div>
	                                </div>
	                                <!-- Single Blog Post -->
	                                <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
	                                    <!-- Post Thumbnail -->
	                                    <div class="post-thumbnail">
	                                        <img src="img/blog-img/b14.jpg" alt="">
	                                    </div>
	                                    <!-- Post Content -->
	                                    <div class="post-content">
	                                        <a href="#" class="headline">
	                                            <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
	                                        </a>
	                                    </div>
	                                </div>
	                                <!-- Single Blog Post -->
	                                <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
	                                    <!-- Post Thumbnail -->
	                                    <div class="post-thumbnail">
	                                        <img src="img/blog-img/b10.jpg" alt="">
	                                    </div>
	                                    <!-- Post Content -->
	                                    <div class="post-content">
	                                        <a href="#" class="headline">
	                                            <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
	                                        </a>
	                                    </div>
	                                </div>
	                                <!-- Single Blog Post -->
	                                <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
	                                    <!-- Post Thumbnail -->
	                                    <div class="post-thumbnail">
	                                        <img src="img/blog-img/b12.jpg" alt="">
	                                    </div>
	                                    <!-- Post Content -->
	                                    <div class="post-content">
	                                        <a href="#" class="headline">
	                                            <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
	                                        </a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Widget Area -->
	                        <div class="sidebar-widget-area">
	                            <h5 class="title">Stay Connected</h5>
	                            <div class="widget-content">
	                                <div class="social-area d-flex justify-content-between">
	                                    <a href="#"><i class="fa fa-facebook"></i></a>
	                                    <a href="#"><i class="fa fa-twitter"></i></a>
	                                    <a href="#"><i class="fa fa-pinterest"></i></a>
	                                    <a href="#"><i class="fa fa-vimeo"></i></a>
	                                    <a href="#"><i class="fa fa-instagram"></i></a>
	                                    <a href="#"><i class="fa fa-google"></i></a>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Widget Area -->
	                        <div class="sidebar-widget-area">
	                            <h5 class="title">Today’s Pick</h5>
	                            <div class="widget-content">
	                                <!-- Single Blog Post -->
	                                <div class="single-blog-post todays-pick">
	                                    <!-- Post Thumbnail -->
	                                    <div class="post-thumbnail">
	                                        <img src="img/blog-img/b22.jpg" alt="">
	                                    </div>
	                                    <!-- Post Content -->
	                                    <div class="post-content px-0 pb-0">
	                                        <a href="#" class="headline">
	                                            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
	                                        </a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</main>
</template>
<script>
	import { VueperSlides, VueperSlide } from 'vueperslides'

	// Since v. 1.6.0, you need to include Vueper Slides CSS file for default styles.
	import 'vueperslides/dist/vueperslides.css';
	export default{
		components:{
			VueperSlides, VueperSlide
		},
		data(){
			return {
				items: [],
				checkbox: '',
				checkboxCustom: '',
				profile: {},
				loading: true,
				colors: ['#99A9BF', '#F7BA2A', '#FF9900']
			}
		},
		mounted(){
			this.init();
		},
		methods: {
			async init(){
				let url = "/data/ads/type/ad-post-slug";
				this.loading= true;
				try{
					let items = await axios.post(url, this.$route.params);
					this.loading= false;
					this.items = items.data.items.data;
					this.profile = items.data.metas.profile
				}
				catch(e){
					this.loading= true;
				}
				
			},
			handleRating(){

			},
			getFeatureImg(item){
				if(item.feature_image){
					return item.feature_image.save_name
				}
				else{
					return '';
				}
			},
			getFeatureImage(){
				if(this.profile.postfile){
					return this.profile.postfile.save_name
				}
				else{
					return ''
				}
			}
		}

	}
</script>
<style scoped type='text/css' src='../../assets/style/ads-list.css'/>