<template>
	<div class="super_container">
		<app-header></app-header>
		<router-view></router-view>
		<app-newsletter></app-newsletter>
		<app-footer></app-footer>
	</div>
</template>
<script>
	import AppHeader from '../layouts/header';
	import AppNewsletter from '../layouts/newsletter';
	import AppFooter from '../layouts/footer';
	export default {
		components:{
			AppHeader, AppFooter, AppNewsletter
		}
	}
</script>