<template>
	<div>
		<section  class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" v-loading="loading">
                        <div class="block">
                            <h2>{{item.post_title}}</h2>
                            <ol class="breadcrumb">
                                <p class="desc"> {{item.post_excerpt}}</p>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<div class="main-content-wrapper section-padding-100">
		    <div class="container">
		        <div class="row justify-content-center">
		            <div class="col-12 col-lg-8" v-loading="loading">
		                <div class="single-blog-content mb-100">
		                    <div class="post-meta">
		                    	{{item}}
		                        <p><a href="#" class="post-author">{{item.createdby ? item.createdby.first_name : ''}}</a> on <a href="#" class="post-date"> {{item.created_at}}</a></p>
		                    </div>
		                    <div class="post-content">
		                        <div v-html="item.post_content"></div>
		                        <ul class="post-tags">
		                            <li v-for="tag in item.tags"><a href="#">{{tag.name}}</a></li>
		                        </ul>
		                        <div class="post-meta second-part">
		                            <p><a href="#" class="post-author">{{item.createdby ? item.createdby.first_name : ''}}</a> on <a href="#" class="post-date"> {{item.created_at}}</a></p>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            
		            <div class="col-12 col-md-8 col-lg-4">
		                <div class="post-sidebar-area mb-100">
		                    <!-- Widget Area -->
		                    <div class="sidebar-widget-area">
		                        <h5 class="title">About World</h5>
		                        <div class="widget-content">
		                            <p>The mango is perfect in that it is always yellow and if it’s not, I don’t want to hear about it. The mango’s only flaw, and it’s a minor one, is the effort it sometimes takes to undress the mango, carve it up in a way that makes sense, and find its way to the mouth.</p>
		                        </div>
		                    </div>
		                    <!-- Widget Area -->
		                    <div class="sidebar-widget-area">
		                        <h5 class="title">Top Stories</h5>
		                        <div class="widget-content">
		                            <!-- Single Blog Post -->
		                            <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
		                                <!-- Post Thumbnail -->
		                                <div class="post-thumbnail">
		                                    <img src="/assets/images/b11.jpg" alt="">
		                                </div>
		                                <!-- Post Content -->
		                                <div class="post-content">
		                                    <a href="#" class="headline">
		                                        <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
		                                    </a>
		                                </div>
		                            </div>
		                            <!-- Single Blog Post -->
		                            <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
		                                <!-- Post Thumbnail -->
		                                <div class="post-thumbnail">
		                                    <img src="img/blog-img/b13.jpg" alt="">
		                                </div>
		                                <!-- Post Content -->
		                                <div class="post-content">
		                                    <a href="#" class="headline">
		                                        <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
		                                    </a>
		                                </div>
		                            </div>
		                            <!-- Single Blog Post -->
		                            <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
		                                <!-- Post Thumbnail -->
		                                <div class="post-thumbnail">
		                                    <img src="img/blog-img/b14.jpg" alt="">
		                                </div>
		                                <!-- Post Content -->
		                                <div class="post-content">
		                                    <a href="#" class="headline">
		                                        <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
		                                    </a>
		                                </div>
		                            </div>
		                            <!-- Single Blog Post -->
		                            <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
		                                <!-- Post Thumbnail -->
		                                <div class="post-thumbnail">
		                                    <img src="img/blog-img/b10.jpg" alt="">
		                                </div>
		                                <!-- Post Content -->
		                                <div class="post-content">
		                                    <a href="#" class="headline">
		                                        <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
		                                    </a>
		                                </div>
		                            </div>
		                            <!-- Single Blog Post -->
		                            <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
		                                <!-- Post Thumbnail -->
		                                <div class="post-thumbnail">
		                                    <img src="img/blog-img/b12.jpg" alt="">
		                                </div>
		                                <!-- Post Content -->
		                                <div class="post-content">
		                                    <a href="#" class="headline">
		                                        <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
		                                    </a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <!-- Widget Area -->
		                    <div class="sidebar-widget-area">
		                        <h5 class="title">Stay Connected</h5>
		                        <div class="widget-content">
		                            <div class="social-area d-flex justify-content-between">
		                                <a href="#"><i class="fa fa-facebook"></i></a>
		                                <a href="#"><i class="fa fa-twitter"></i></a>
		                                <a href="#"><i class="fa fa-pinterest"></i></a>
		                                <a href="#"><i class="fa fa-vimeo"></i></a>
		                                <a href="#"><i class="fa fa-instagram"></i></a>
		                                <a href="#"><i class="fa fa-google"></i></a>
		                            </div>
		                        </div>
		                    </div>
		                    <!-- Widget Area -->
		                    <div class="sidebar-widget-area">
		                        <h5 class="title">Today’s Pick</h5>
		                        <div class="widget-content">
		                            <!-- Single Blog Post -->
		                            <div class="single-blog-post todays-pick">
		                                <!-- Post Thumbnail -->
		                                <div class="post-thumbnail">
		                                    <img src="img/blog-img/b22.jpg" alt="">
		                                </div>
		                                <!-- Post Content -->
		                                <div class="post-content px-0 pb-0">
		                                    <a href="#" class="headline">
		                                        <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
		                                    </a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>

		        <!-- ============== Related Post ============== -->
		        <div class="row">
		            <div class="col-12 col-md-6 col-lg-4">
		                <!-- Single Blog Post -->
		                <div class="single-blog-post">
		                    <!-- Post Thumbnail -->
		                    <div class="post-thumbnail">
		                        <img src="/assets/images/b11.jpg" alt="">
		                        <!-- Catagory -->
		                        <div class="post-cta"><a href="#">travel</a></div>
		                    </div>
		                    <!-- Post Content -->
		                    <div class="post-content">
		                        <a href="#" class="headline">
		                            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
		                        </a>
		                        <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
		                        <!-- Post Meta -->
		                        <div class="post-meta">
		                            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-12 col-md-6 col-lg-4">
		                <!-- Single Blog Post -->
		                <div class="single-blog-post">
		                    <!-- Post Thumbnail -->
		                    <div class="post-thumbnail">
		                        <img src="/assets/images/b11.jpg" alt="">
		                        <!-- Catagory -->
		                        <div class="post-cta"><a href="#">travel</a></div>
		                    </div>
		                    <!-- Post Content -->
		                    <div class="post-content">
		                        <a href="#" class="headline">
		                            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
		                        </a>
		                        <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
		                        <!-- Post Meta -->
		                        <div class="post-meta">
		                            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
		                        </div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-12 col-md-6 col-lg-4">
		                <!-- Single Blog Post -->
		                <div class="single-blog-post">
		                    <!-- Post Thumbnail -->
		                    <div class="post-thumbnail">
		                        <img src="img/blog-img/b7.jpg" alt="">
		                        <!-- Catagory -->
		                        <div class="post-cta"><a href="#">travel</a></div>
		                        <!-- Video Button -->
		                        <a href="https://www.youtube.com/watch?v=IhnqEwFSJRg" class="video-btn"><i class="fa fa-play"></i></a>
		                    </div>
		                    <!-- Post Content -->
		                    <div class="post-content">
		                        <a href="#" class="headline">
		                            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
		                        </a>
		                        <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
		                        <!-- Post Meta -->
		                        <div class="post-meta">
		                            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>

		        <div class="row">
		            <div class="col-12 col-lg-8">
		                <div class="post-a-comment-area mt-70">
		                    <h5>Get in Touch</h5>
		                    <!-- Contact Form -->
		                    <form action="#" method="post">
		                        <div class="row">
		                            <div class="col-12 col-md-6">
		                                <div class="group">
		                                    <input type="text" name="name" id="name" required>
		                                    <span class="highlight"></span>
		                                    <span class="bar"></span>
		                                    <label>Enter your name</label>
		                                </div>
		                            </div>
		                            <div class="col-12 col-md-6">
		                                <div class="group">
		                                    <input type="email" name="email" id="email" required>
		                                    <span class="highlight"></span>
		                                    <span class="bar"></span>
		                                    <label>Enter your email</label>
		                                </div>
		                            </div>
		                            <div class="col-12">
		                                <div class="group">
		                                    <textarea name="message" id="message" required style="margin-top: 0px; margin-bottom: 0px; height: 91px;"></textarea>
		                                    <span class="highlight"></span>
		                                    <span class="bar"></span>
		                                    <label>Enter your comment</label>
		                                </div>
		                            </div>
		                            <div class="col-12">
		                                <button type="submit" class="btn world-btn">Post comment</button>
		                            </div>
		                        </div>
		                    </form>
		                </div>
		            </div>

		            <div class="col-12 col-lg-8">
		                <!-- Comment Area Start -->
		                <div class="comment_area clearfix mt-70">
		                    <ol>
		                        <!-- Single Comment Area -->
		                        <li class="single_comment_area">
		                            <!-- Comment Content -->
		                            <div class="comment-content">
		                                <!-- Comment Meta -->
		                                <div class="comment-meta d-flex align-items-center justify-content-between">
		                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
		                                    <a href="#" class="comment-reply btn world-btn">Reply</a>
		                                </div>
		                                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
		                            </div>
		                            <ol class="children">
		                                <li class="single_comment_area">
		                                    <!-- Comment Content -->
		                                    <div class="comment-content">
		                                        <!-- Comment Meta -->
		                                        <div class="comment-meta d-flex align-items-center justify-content-between">
		                                            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
		                                            <a href="#" class="comment-reply btn world-btn">Reply</a>
		                                        </div>
		                                        <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
		                                    </div>
		                                </li>
		                            </ol>
		                        </li>
		                        
		                        <!-- Single Comment Area -->
		                        <li class="single_comment_area">
		                            <!-- Comment Content -->
		                            <div class="comment-content">
		                                <!-- Comment Meta -->
		                                <div class="comment-meta d-flex align-items-center justify-content-between">
		                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
		                                    <a href="#" class="comment-reply btn world-btn">Reply</a>
		                                </div>
		                                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
		                            </div>
		                        </li>
		                        
		                    </ol>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</template>
<script>
	export default {
		data(){
			return {
				loading: true,
				item: {},
			}
		},

		mounted(){
			this.init()
		},

		methods: {
			async init(){
				this.loading = true;
				let params = this.$route.params;
				let url = '/data/ad/type/single-ad-slug';
				try{
					let result = await axios.post(url,params);
					this.loading = false
					this.item = result.data.item;
				}
				catch(e){
					this.loading = false;
				}
			}
		}
	}
</script>
<style scoped>
		.global-page-header {
		    background-attachment: fixed;
		    background-size: cover;
		    padding: 200px 0 25px 0;
		    position: relative;
		    background: #02bdd5;
		    color: #fff;
		    height: 450px;
		    background-position: center center;
	        background-size: cover;
	        background-repeat: no-repeat;
		}
		.global-page-header .block {
		    position: relative;
		    /*z-index: 99;*/
		    text-align: center;
		}
		.global-page-header .breadcrumb {
		    background: none;
		    font-size: 16px;
		    padding: 8px 0;
		    display: inline-block;
		}
		.global-page-header .breadcrumb .active, .global-page-header .breadcrumb li a {
		    color: #fff;
		    display: inline-block;
		}
		.global-page-header h2 {
		    font-size: 42px;
		    font-weight: bold;
		    color: #fff;
		    text-transform: uppercase;
		}
		.breadcrumb .desc {
	        font-size: 14px;
	        padding-left: 8px;
	        margin-bottom: 6px;
	        color: #fff;
	        padding-right: 12px;
	        white-space: normal
		}
	.hero-area {
	    position: relative;
	    z-index: 1;
	}
	.background-overlay {
	    position: relative;
	    z-index: 2;
	}
	.height-600 {
	    height: 600px !important;
	}
	.bg-img {
	    background-position: center center;
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	.section-padding-100 {
	    padding: 30px 0;
	}
	.mb-100 {
	    margin-bottom: 100px;
	}
	.mt-70 {
	    margin-top: 70px;
	}

	.world-latest-articles .title {
	  margin-top: 50px;
	  margin-bottom: 30px; }
	  .world-latest-articles .title h5 {
	    display: block;
	    font-size: 18px;
	    color: #000000;
	    margin-bottom: 0;
	    margin-right: auto;
	    font-family: "Ubuntu", sans-serif;
	    font-weight: 700;
	    padding: 10px 0;
	    border-bottom: 2px solid #f1f1f1; }

	.post-sidebar-area {
	  border-left: 2px solid #f1f1f1; }

	.sidebar-widget-area {
	  position: relative;
	  z-index: 1;
	  border-bottom: 2px solid #f1f1f1; }
	  .sidebar-widget-area .title {
	    display: block;
	    font-size: 18px;
	    color: #000000;
	    margin-bottom: 0;
	    margin-right: auto;
	    font-family: "Ubuntu", sans-serif;
	    font-weight: 700;
	    padding: 12px 0;
	    border-bottom: 2px solid #f1f1f1;
	    padding-left: 30px; }
	  .sidebar-widget-area .widget-content {
	    padding: 30px 0 30px 30px; }
	    @media only screen and (max-width: 767px) {
	      .sidebar-widget-area .widget-content {
	        padding: 30px 0 30px 15px; } }
	    .sidebar-widget-area .widget-content .social-area a {
	      width: 36px;
	      height: 36px;
	      border: 1px solid;
	      border-color: #f1f1f1;
	      display: block;
	      border-radius: 50%;
	      text-align: center;
	      line-height: 32px; }
	    .sidebar-widget-area .widget-content .todays-pick {
	      box-shadow: none; }
	  .sidebar-widget-area:last-of-type {
	    border-bottom: none; }

	.page-content {
	  padding: 60px 55px;
	  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
	  @media only screen and (max-width: 767px) {
	    .page-content {
	      padding: 30px 25px; } }
	  .page-content h6 {
	    color: #8d8d8d;
	    line-height: 1.8;
	    margin-bottom: 20px; }
	    .page-content h6:last-of-type {
	      margin-bottom: 0; }

	.single-blog-title .post-cta {
	  margin-bottom: 40px; }
	  .single-blog-title .post-cta a {
	    padding: 0 10px;
	    display: inline-block;
	    height: 20px;
	    background-color: #ffffff;
	    text-transform: uppercase;
	    font-size: 10px;
	    color: #0000ff;
	    font-weight: 500;
	    line-height: 20px;
	    letter-spacing: 0.75px; }
	    .single-blog-title .post-cta a:hover, .single-blog-title .post-cta a:focus {
	      background-color: #0000ff;
	      color: #ffffff; }
	.single-blog-title h3 {
	  color: #ffffff;
	  margin-bottom: 0;
	  font-size: 30px; }
	  @media only screen and (max-width: 767px) {
	    .single-blog-title h3 {
	      font-size: 24px; } }

	.single-blog-content .post-meta {
	  border-bottom: 2px solid;
	  border-color: #f1f1f1;
	  margin-bottom: 30px; }
	  .single-blog-content .post-meta p {
	    margin-bottom: 0;
	    font-size: 14px;
	    padding: 10px 0; }
	    .single-blog-content .post-meta p a {
	      font-size: 14px; }
	  .single-blog-content .post-meta.second-part {
	    border-bottom: none;
	    border-top: 2px solid;
	    border-color: #f1f1f1;
	    margin-bottom: 0;
	    margin-top: 30px; }
	.single-blog-content .post-content {
	  padding: 60px 55px;
	  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
	  @media only screen and (max-width: 767px) {
	    .single-blog-content .post-content {
	      padding: 30px 25px; } }
	  .single-blog-content .post-content h6 {
	    line-height: 1.8;
	    margin-bottom: 30px;
	    color: #8d8d8d;
	    font-family: "Ubuntu", sans-serif; }
	  .single-blog-content .post-content blockquote {
	    border-left: 2px solid;
	    border-color: #0000ff;
	    padding-left: 30px; }
	    .single-blog-content .post-content blockquote h6 {
	      margin-bottom: 10px;
	      color: #000000; }
	    .single-blog-content .post-content blockquote p {
	      margin-bottom: 0; }
	  .single-blog-content .post-content .post-tags {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap; }
	    .single-blog-content .post-content .post-tags a {
	      display: block;
	      padding: 0 15px;
	      line-height: 28px;
	      height: 30px;
	      border: 1px solid;
	      border-color: #f1f1f1;
	      margin: 5px; }

	.comment_area .comment-content {
	  padding: 30px 50px;
	  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
	  @media only screen and (max-width: 767px) {
	    .comment_area .comment-content {
	      padding: 20px 15px; } }
	  .comment_area .comment-content .comment-meta {
	    margin-bottom: 30px; }
	    .comment_area .comment-content .comment-meta p {
	      -webkit-box-flex: 0;
	      -ms-flex: 0 0 calc(100% - 110px);
	      flex: 0 0 calc(100% - 110px);
	      border-bottom: 2px solid;
	      border-color: #f1f1f1;
	      margin-bottom: 0;
	      font-size: 14px;
	      padding: 10px 0; }
	      .comment_area .comment-content .comment-meta p a {
	        font-size: 14px; }
	.comment_area .single_comment_area {
	  margin-bottom: 30px; }
	  .comment_area .single_comment_area:last-of-type {
	    margin-bottom: 0; }
	.comment_area .children .single_comment_area {
	  margin-left: 50px;
	  margin-top: 30px; }
	  @media only screen and (max-width: 767px) {
	    .comment_area .children .single_comment_area {
	      margin-left: 15px; } }

	/* Contact Area CSS */
	.contact-form,
	.post-a-comment-area {
	  padding: 60px 55px;
	  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
	  @media only screen and (max-width: 767px) {
	    .contact-form,
	    .post-a-comment-area {
	      padding: 30px 25px; } }
	  .contact-form h5,
	  .post-a-comment-area h5 {
	    font-size: 18px;
	    color: #000000;
	    margin-bottom: 0;
	    font-family: "Ubuntu", sans-serif;
	    font-weight: 700;
	    margin-bottom: 30px; }
	  .contact-form button.world-btn,
	  .post-a-comment-area button.world-btn {
	    border-color: #0000ff;
	    background-color: #0000ff;
	    color: #ffffff;
	    margin-top: 40px; }
	    ul li, ol li {
	        list-style: none;
	    }
	/* Form CSS */
	.group {
	  position: relative;
	  z-index: 1;
	  margin-bottom: 30px; }
	  .group input,
	  .group textarea {
	    font-size: 14px;
	    padding: 10px;
	    display: block;
	    width: 100%;
	    height: 35px;
	    border: none;
	    border-bottom: 2px solid;
	    border-color: #f1f1f1; }
	    .group input:focus,
	    .group textarea:focus {
	      outline: none;
	      box-shadow: none; }
	  .group label {
	    color: #8d8d8d;
	    font-size: 14px;
	    font-weight: normal;
	    position: absolute;
	    pointer-events: none;
	    left: 0;
	    top: 5px;
	    transition: 0.5s ease all;
	    font-family: "Ubuntu", sans-serif; }
	  .group .bar {
	    position: relative;
	    display: block;
	    width: 100%; }
	    .group .bar:before, .group .bar:after {
	      content: '';
	      height: 2px;
	      width: 0;
	      bottom: 1px;
	      position: absolute;
	      background-color: #0000ff;
	      transition: 0.5s ease all; }
	    .group .bar:before {
	      left: 50%; }
	    .group .bar:after {
	      right: 50%; }
	  .group .highlight {
	    position: absolute;
	    height: 60%;
	    width: 100px;
	    top: 25%;
	    left: 0;
	    pointer-events: none;
	    opacity: 0.5; }
	  .group textarea {
	    min-height: 90px; }

	/* Form Active State */
	input:focus ~ label,
	textarea:focus ~ label,
	input:valid ~ label,
	textarea:valid ~ label {
	  top: -15px;
	  font-size: 12px;
	  color: #0000ff; }

	input:focus ~ .bar:before,
	textarea:focus ~ .bar:before,
	input:focus ~ .bar:after,
	textarea:focus ~ .bar:after {
	  width: 50%; }

	input:focus ~ .highlight,
	textarea:focus ~ .highlight {
	  -webkit-animation: inputHighlighter 0.3s ease;
	  animation: inputHighlighter 0.3s ease; }

	/* Animations */
	@-webkit-keyframes inputHighlighter {
	  from {
	    background-color: #0000ff; }
	  to {
	    width: 0;
	    background-color: transparent; } }
	@-moz-keyframes inputHighlighter {
	  from {
	    background-color: #0000ff; }
	  to {
	    width: 0;
	    background-color: transparent; } }
	@keyframes inputHighlighter {
	  from {
	    background-color: #0000ff; }
	  to {
	    width: 0;
	    background-color: transparent; } }
	.map-area {
	  position: relative;
	  z-index: 1; }
	  .map-area #googleMap {
	    width: 100%;
	    height: 500px; }
	    @media only screen and (max-width: 767px) {
	      .map-area #googleMap {
	        height: 400px; } }
	.single-blog-post.post-style-2.widget-post .post-thumbnail {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 70px;
	    flex: 0 0 70px;
	    min-width: 70px;
	    margin-right: 15px;
	}
	.single-blog-post.post-style-2 .post-thumbnail {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 97px;
	    flex: 0 0 97px;
	    min-width: 97px;
	    margin-right: 15px;
	}
	.single-blog-post .post-thumbnail {
	    position: relative;
	    z-index: 1;
	}
	.single-blog-post.widget-post .post-thumbnail img {
	    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.06);
	    overflow: hidden;
	    border-radius: 3px;
	    background: #D8D8D8;
	    display: block;
	    height: 80px;
	    margin-bottom: 8px;
	}
</style>