<template>
    <vueper-slides class="no-shadow" :visible-slides="4" slide-multiple :slide-ratio="1/4" :breakpoints="{ 1200: { visibleSlides: 2 },900:{visibleSlides: 3}, 600:{visibleSlides: 1} }" :bullets="false" fixed-height="450px" :pauseOnHover="true" :dragging-distance="50">
    	<vueper-slide v-for="item in items">
    		<div slot="slideContent">
    			<div class="single-blog-post">
	                <div class="post-thumbnail">
	                    <img :src="getFeatureImg(item)" alt="">
	                    <div class="post-cta"><a href="#">{{item.city}}</a></div>
	                </div>
	                <div class="post-content">
	                    <router-link class="headline" :to="redirectTo(item)">
	                        <h5>{{limitTo(item.post_title, 30)}}</h5>
	                    </router-link>
	                    <div class="desc">
	                    	<p>{{limitTo(item.post_excerpt, 100)}}</p>
	                    </div>
	                    <ul>
							<li v-if="item.post_type=='event'">
								<span class="icon">
									<i class="fa fa-clock-o"></i>
								</span>
								<span class="event">Start Date {{item.start_date}}</span>
							</li>
							<li v-if="item.post_type=='event'">
								<span class="icon">
									<i class="fa fa-clock-o"></i>
								</span>
								<span class="event">End Date {{item.start_date}}</span>
							</li>
							<li>
								<span class="icon">
									<i class="fa fa-map-marker"></i>
								</span>
								<span class="location">{{item.address}}</span>
							</li>
						</ul>
	                </div>
	            </div>
    		</div>
      	
		</vueper-slide>
    </vueper-slides>
</template>
<script>
	import { VueperSlides, VueperSlide } from 'vueperslides'

	// Since v. 1.6.0, you need to include Vueper Slides CSS file for default styles.
	import 'vueperslides/dist/vueperslides.css';
	export default{
		components:{
			VueperSlides, VueperSlide
		},
		data(){
			return {
			}
		},
		props: {
			items: {
				type: Array,
				default: []
			}
		},
		
		methods:{
			getFeatureImg(item){
				if(item.post_type == 'event')
					return item.feature_image !== null ? item.postfile.save_name : '/assets/images/feature-event.jpg'; 
				else if(item.post_type == 'hotel')
					return item.feature_image !== null ? item.postfile.save_name : '/assets/images/feature-hotel.jpg';
				else if(item.post_type == 'restaurant')
					return item.feature_image !== null ? item.postfile.save_name : '/assets/images/feature-restaurant.jpg';


			},
			redirectTo(item){
				if(item.post_type=='event'){
					return `/event/${item.slug}`;
				}
				else{
					return `${item.post_type}/${item.slug}/list`;
				}
			},
			limitTo: function(value,limit) {
				return (value ? (value.length > limit ? value.substring(0, limit) + '....' : value) : '');
		    },
		}

	}
</script>
<style scoped>
	.desc p {
	    background: #f7f7f7;
	    font-size: 12px;
	    border-left: 2px solid #f00;
	    padding-left: 8px;
	    margin-bottom: 6px;
	    color: #000;
	}
	.post-meta p a {
		margin-bottom: 10px;
	}
	.single-blog-post .post-content p{
		margin-bottom: 5px;
	}

	ul li .icon{
		width: 20px;
	    height: 20px;
	    line-height: 20px;
	    margin-left: -3px;
	    margin-right: 2px;
	    text-align: center;
	    border-radius: 100%;
	    color: #ffbe30;
	    font-size: 14px;
	    background-color: #f7f7f7;
	}
	ul li .location {
		color: #000;
		font-size: 13px;
		font-family: 'Poppins', sans-serif;
	    line-height: 1.7;
	    font-weight: 500;
	}
	ul li .event {
		color: #000;
		font-size: 13px;
		font-family: 'Poppins', sans-serif;
	    line-height: 1.7;
	    font-weight: 500;
	}
</style>